.pdf-viewer-container {
  background: url("https://geragricusco.gob.pe/background-inventory.jpg")
    no-repeat center center;
  background-size: cover; /* Asegura que la imagen cubra toda el área */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centrado de texto */
  position: relative; /* Necesario para la posición del pseudo-elemento */
  z-index: 2; /* Asegura que el contenido esté sobre el fondo */
}

.pdf-viewer-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Capa blanca semitransparente */
  z-index: -2; /* Capa blanca debajo del texto */
}

.pdf-iframe {
  width: 50%;
  height: 90vh;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 10px; /* Bordes redondeados */
}

/* Para que se vea mejor en pantallas pequeñas */
@media (max-width: 768px) {
  .pdf-iframe {
    width: 95%;
    height: 80vh;
  }
}
